.form {
  background-color: rgb(250, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid rgb(159, 137, 211);
  box-shadow: 3px 3px 5px rgb(159, 137, 211);
  animation: slide 1s forwards;
}

@keyframes slide {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}

.title {
  font-size: 34px;
  border: 2px solid rgb(159, 137, 211);
  background-color: rgb(109, 72, 194);
  padding: 10px 50px;
  border-radius: 25px;
  box-shadow: 6px 6px 5px rgb(179, 167, 207);
  color: white;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: rgb(109, 72, 194);
  font-weight: bold;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      border-radius: 30px;
      width: 60%;
      height: 2.5rem;
      padding-left: 5px;
      background-color: rgb(197, 193, 207);
      border: none;
      outline: none;
      transition: box-shadow 0.5s;

      &:focus {
        border: 2px solid rgb(159, 137, 211);
        box-shadow: 3px 3px 5px rgb(179, 167, 207);
      }
    }
  }
}

.errorMessage {
  font-size: 14px;
  color: red;
  font-weight: 600;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  p {
    cursor: pointer;
    color: blue;
    transition: transform 1s;
    animation: to 1s forwards;

    &:hover {
      transform: scale(1.05);
    }
  }

  button {
    background-color: rgb(109, 72, 194);
    color: white;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 3px 3px 5px rgb(159, 137, 211);
    }
  }
}

.errorInput {
  border: 2px solid red !important;
}

@media (max-width: 500px) {
  .form {
    padding: 30px 20px;
  }

  .title {
    font-size: 22px;
  }

  .errorMessage {
    font-size: 12px;
  }

  .inputArea {
    label {
      font-size: 16px;

      input {
        height: 2rem;
      }
    }
  }

  .navigation {
    button {
      font-size: 16px;
    }

    p {
      font-size: 18px;
    }
  }
}
