.dialogWindow {
  border: 2px solid rgb(159, 137, 211);
  margin: 0 auto;
  position: absolute;
  top: 20%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(159, 137, 211);
  animation: open 1s forwards;
  background-color: rgb(232, 212, 249);
  width: 50vw;
  height: 60vh;
  padding: 20px;

  @keyframes open {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

  textarea {
    width: 100%;
    border: none;
    background-color: rgb(232, 212, 249);
    resize: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
  }
}

.dialogMainInfo {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(159, 137, 211);

  textarea {
    font-size: 18px;
    padding: 10px;
    resize: none;
    height: auto;
    outline: none;
    border: none;
  }
}

.dialogButtons {
  display: flex;
  gap: 10px;

  button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(93, 50, 192);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 5px 5px rgb(159, 137, 211);
    }
  }
}

.exitIconDialog {
  cursor: pointer;
}

.editor {
  display: flex;
  align-items: center;
  border: 2px solid black;
  width: 40%;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 10px;

  & > * {
    cursor: pointer;
  }
}

.assigneeTextAreaDialog {
  display: flex;
  align-items: center;
}
