.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;

  form {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.profileSVG,
.filterSVG {
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 244, 245);
  border: 1px solid black;
  gap: 5px;
  height: 1.5rem;
  transition: box-shadow 0.5s ease;
  padding: 15px 5px;

  input {
    border: none;
    outline: none;
    background-color: rgb(246, 244, 245);
  }
}

.searchContainerFocus {
  border: 2px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
